

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#solarsystem
{
    position: absolute;
    top: 50%;
    text-align: center

}

#sun{
    position: absolute;
    top:-100px;
    margin-left: -180px;  
}
.sun:before { 
content:url('img/sun.png');
}


#mercury {
    position: absolute;
    margin-left: 100px;  
}
.mercury:before { 
content:url('img/mercury.png');
}

#venus {
    position: absolute;
    margin-left: 180px;  
}
.venus:before { 
content:url('img/venus.png');
}


#earth {
    position: absolute;
    margin-left: 350px;  
}
.earth:before { 
content:url('img/earth.png');
}

#earthmoon {
    position: absolute;
    margin-left: 375px;  
}
.earthmoon:before { 
content:url('img/earthmoon.png');
}


#mars {
    position: absolute;
    margin-left: 450px;  
}
.mars:before { 
content:url('img/mars.png');
}


#asteroid {
    position: absolute;
    margin-left: 550px;  
}
.asteroid:before { 
content:url('img/asteroid.png');
}

#jupiter {
    position: absolute;
    margin-left: 700px;  
}
.jupiter:before { 
content:url('img/jupiter.png');
}

#saturn {
    position: absolute;
    margin-left: 950px;  
}
.saturn:before { 
content:url('img/saturn.png');
}

#neptune {
    position: absolute;
    margin-left: 1250px;  
}
.neptune:before { 
content:url('img/neptune.png');
}

#uranus {
    position: absolute;
    margin-left: 1450px;  
}
.uranus:before { 
content:url('img/uranus.png');
}

#pluto {
    position: absolute;
    margin-left: 1800px;  
}
.pluto:before { 
content:url('img/pluto.png');
}




/*
#-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 300px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
}

*/
