/* Background image */
html {
	background: url(assets/images/stardust.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
	overflow:auto;
	min-width:1100px;
	min-height:600px;
	width:100%;
	height:100%;
	margin: 0;
	position: absolute;
}

/* utility classes */
.clickable {
	cursor: pointer;
	cursor: hand;
}

.clearLeftFloat {
	clear: left;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select:none;
	user-select: none;
}

/* misc */
.genericFloating {
	position: absolute;
}

.lootFloating {
	position: absolute;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dragDropFloating {
	position: absolute;
}

/* main panel classes */
.logo {
    max-width:642px;
    max-height:89px;
    width: 65%;
    height: auto;
}

.screen {
	width: 100%;
	height:calc(100% - 50px - 6px * 2 + 1px);
}

.floatingArea {
	display: inline-block;
	position:absolute;
	top: 35%;
	left: 30%;
	width:40%;
	height:50%;
}

.panelContent {
	background-color: rgba(125,125,125,0.5);
	border: 1px solid rgb(155,155,155);
}

.panelPlanetDisplay{
	font-size: 14px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;
    text-align:center;
    
    position:absolute;
    margin:10px;
    left:20%;
    width:60%;
    height:100%;
}

.panelPlanetLeft{
	font-size: 20px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;

	background-color: rgba(37, 37, 37, .75);
	float: left; 
	min-width: 300px;
    width:20%;
	height:calc(100% - 5px);


	border: 5px solid black;
	outline: solid 1px rgb(138,138,138);  
}

.panelPlanetRight{
	font-size: 20px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;
	
	background-color: rgba(37, 37, 37, .75);
    float:right;
	min-width: 300px;
    width:20%;
	height:calc(100% - 5px);
	border: 5px solid black;
	outline: solid 1px rgb(138,138,138);  
}

.panelBottom{
	font-size: 14px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;

	background: url(assets/images/bottomBarBackground.png);
	background-repeat:no-repeat;
	background-size:100% 50px;
	position:absolute;
    bottom:0px;
    height:50px;
    width:100%;
    text-align:center;
    border-top: 1px black;
	outline: solid 1px rgb(138,138,138);  
}

.panelBottomLeft {
	float:left;
	margin-left: 2px;
}

.panelBottomCenter{
	margin: 0 auto;

	display: inline-block;
}

.panelBottomRight{
	float:right;
	margin-right: 4px;
}

/* misc */
.categoryContent {
	height:calc(100% - 80px);
	overflow: auto;
}

/* button styles */
.genericButton {
	box-shadow: 
	  0 1px 2px #000,
	  0 -1px 1px #000,
	  inset 0 -1px 1px rgba(0,0,0,0.5),
	  inset 0 1px 1px rgba(255,255,255,0.8);
	background-color: #444444;
	float: left;
	margin-left:1px;
}
.genericButton:hover {
	background-color: rgb(115,115,115);
}
.genericButton:active {
	background-color: #444444;
}

.genericButtonSelected {
	box-shadow: 
	  0 1px 2px #000,
	  0 -1px 1px #000,
	  inset 0 -1px 1px rgba(0,0,0,0.5),
	  inset 0 1px 1px rgba(255,255,255,0.8);
	background-color: rgb(115,115,115);
	float: left;
	margin-left:1px;
}

.genericButtonLast {
	margin-right:0px;
}

.mainButton {
	font-size: 14px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;
	
	outline: solid 1px rgb(138,138,138);  
	border: solid 1px black;
	color: white;
	box-shadow: 
	  0 1px 2px #000,
	  0 -1px 1px #000,
	  inset 0 -1px 1px rgba(0,0,0,0.5),
	  inset 0 1px 1px rgba(255,255,255,0.8);
	background-color: #444444;	
	height: 100px;
	width: 150px;
	margin-left: 5px;
	margin-right: 5px;
}
.mainButton:hover {
	background-color: rgb(115,115,115);
}
.mainButton:active {
	background-color: #444444;
}


.bottomBarButton {
	margin-top:5px;
	height: 30px;
	width: 100px;
	text-align:center;
}

.bottomBarButtonText {
	margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.categoryButton {
	height: 80px;
	width: calc(25% - 1px);
	text-align:center;
	float: left;
}

.categoryButtonIcon {
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width:30px;
    height:30px;
}

.categoryButtonText {
	margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size:11px;
}

/* selection styles */
.selectPrevious {
	opacity: 0.5;
	float:left;
	margin-left:20px;
	margin-top:3px;
}
.selectPrevious:hover {
	opacity: 1;
}

.selectionText {
	text-align:center;
	font-size:16px;
}

.selectNext {
	opacity: 0.5;
	float:right;
	margin-right:20px;
	margin-top:3px;
}
.selectNext:hover {
	opacity: 1;
}


/* Planet styles */
.planetDisplay {
	position:absolute;
	top:40%;
	height:50%;
	width:100%;
}

.planetDisplayBackground {
	position:absolute;
	margin: 0 auto;
	height:100%;
	width: 100%;
}
.planetImage {
	max-width:100%;
	max-height:100%;
}

.planetDisplayNameTitle {
	font-size: 20px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;
    color: rgb(204, 204, 204);
}

.planetDisplayNameText {
	font-size: 25px;
    font-family: 'overpassregular', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    /*line-height: 0;*/
    letter-spacing: 1px;
    /*color: rgb(204, 204, 204);*/
	margin-top:15px;
}

.planetDisplayNameFrame {
	position:absolute;
	top:60%;
	width:100%;
	height:91px;
}

.planetDisplayName {
	margin: 0 auto;
	display: inline-block;
	height:100%;
	width:295px;	
	background: url(assets/images/planetTitleBackground.png);
	background-repeat:no-repeat;
	background-size:295px 61px;
}

/* Inventory styles */
.inventoryPanel{
	margin-left:10px;
	margin-top:1px;
	margin-right:10px;
	margin-bottom:1px;
}

.inventoryFilter {
	margin-bottom:20px;
	margin-top:20px;
	height:20px;
}

.inventoryContent {
	position: relative;
	clear: left;
	left: 8px;
	width: calc(100% - 16px);
	height: 200px;
}

/* Item styles */
.itemGrid {
	overflow: hidden;
}

.itemSlot {
	width: 50px;
	height: 50px;
	margin: 2px;
	float: left;
}

.itemSlotIcon {
	width: 30px;
	height: 30px;
	margin-left:10px;
	margin-top:6px;
	pointer-events: none;
}

.itemSlotText {
	position: relative;
	margin-top:-5px;
	margin-right: 10px;
	float: right;
	font-size: 12px;
	cursor: pointer;
}

.itemSlotHover {
	border: 1px solid #a7a7a7;
}

.itemSlotNonHover {
	border: 1px solid rgba(0,0,0,0);
}

/* ship panel */
.shipPanel {
}

/* planet panel */
.planetPanel {
}

.buildingsPanel {
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:1px;
	height: 100%;
}

.buildingsContent {
	height: 150px;
	width: 100%;
}

/* Gear panel*/
.gearPanel {
	margin-left:10px;
	margin-top:1px;
	margin-right:10px;
	margin-bottom:1px;
}

.playerGearPaperdoll {
	position: relative;
	top: 30px;
	left: 8px;
	width: 200px;
	height: 300px;
}

.gearSlot {
	width: 50px;
	height: 50px;
	background: grey;
	box-shadow: inset 0 0 15px #000;	
}

.gearSlot.Head {
	position: absolute;
	left: 75px;
	top: 10px;
}
.gearSlot.Chest {
	position: absolute;
	left: 75px;
	top: 80px;
}
.gearSlot.Main.Hand {
	position: absolute;
	left: 10px;
	top: 80px;
}
.gearSlot.Second.Hand {
	position: absolute;
	left: 140px;
	top: 80px;
}
.gearSlot.Legs {
	position: absolute;
	left: 75px;
	top: 170px;
}
.gearSlot.Feet {
	position: absolute;
	left: 75px;
	top: 225px;
}

/* crafting */

/* Empire */
.empirePanel {
	margin-left:20px;
	margin-top:1px;
	margin-right:20px;
	margin-bottom:1px;
}




/* Travel */
.panelTravelBackground {
	position: absolute;
	width: 100%;
	height: 100%;
}

.panelTravelDisplay {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 22px;
	font-family: 'overpassregular', Arial, sans-serif;
}









/* Check use: */

/* Crafting styles */
.craftingPanel{
	margin-left:20px;
	margin-top:1px;
	margin-right:20px;
	margin-bottom:1px;
}


.craftingItemPanel{
    font-size:11px;
	margin-left:1px;
	margin-top:1px;
	margin-right:1px;
	margin-bottom:1px;	
	height:50px;
	clear: left;
	border: 1px solid gray;
	cursor: pointer;
	cursor: hand;
}
.craftingIcon{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align: middle;
	width:30px;
	height:30px;
	cursor: pointer;
	cursor: hand;
}
.craftingText .clickable{
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
}
.opaque{
	opacity: 0.4;
}

#playerCraftingContent .ui-accordion-content {  
    padding: 0;
	margin-bottom: 10px;

	border-radius: 0;
    border: none;

    background: none;  
    color: #777;  

    font-size: 10pt;  
    line-height: 16pt;
}
#playerCraftingContent .ui-accordion-content div {
	text-align: left;
    margin-bottom: 10px;
	border-radius: 0;
	background: #333;
}
#playerCraftingContent .ui-accordion-header {  
    margin-bottom: 10px;  

    border-radius: 0;
    border: none;

    background: #fff; 
    color: #555; 
	box-shadow: inset 0 0 20px #000;
}