/* Background image */
html {
	background: url(assets/images/stardust.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Main positioning styles */
.container{
    text-align:center;
    margin-left:20%;
    width:60%;
    height:100%;
}
.right{
    position:fixed;
    right:0px;
    top:0px;
    width:20%;
    height: 100%;
    text-align:center;
	overflow: auto;
}
.left{
    position:fixed;
    left:0px;
    top:0px;
    width:20%;
    height: 100%;
	background-color: rgba(200, 200, 200, 0.15);
	border-right: 2px solid white;
	overflow: auto;
}
.bottom{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
}
/* Left/Crafting styles */
.craftingPanel{
	margin-left:20px;
	margin-top:1px;
	margin-right:20px;
	margin-bottom:1px;
}
.infoLabel {
	margin: 20px auto;
	padding: 0;
	width: 65%;
	border: 1px solid white;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.infoLabel h2 {
	margin: 0;
}
.craftingItemPanel{
	margin-left:1px;
	margin-top:1px;
	margin-right:1px;
	margin-bottom:1px;	
	height:50px;
	clear: left;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	cursor: pointer;
	cursor: hand;
}
.craftingIcon{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align: middle;
	width:30px;
	height:30px;
	cursor: pointer;
	cursor: hand;
}
.craftingText .clickable{
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
}
#elementFinder {
    font-size:12px;
}
#craftingContent {
} 
#craftingContent .ui-accordion-content {  
    padding: 0;
	margin-bottom: 10px;

	border-radius: 0;
    border: none;

    background: none;  
    color: #777;  

    font-size: 10pt;  
    line-height: 16pt;
}  
#craftingContent .ui-accordion-content div {
	margin-bottom: 10px;
	border-radius: 0;
	background: #333;
}
#craftingContent .ui-accordion-header {  
    margin-bottom: 10px;  

    border-radius: 0;
    border: none;

    background: #fff; 
    color: #555; 
	box-shadow: inset 0 0 20px #000;
}  
/* Inventory styles */
.inventoryContainer{
	margin-left:50px;
	margin-top:10px;
	margin-right:50px;
}
#inventoryTable_wrapper .dataTables_filter {
	margin-right: 20px;
	padding: 4px;

	color: #aaa;
}
#inventoryTable_wrapper .dataTables_filter input {
	border-radius: 10px;
	box-shadow: inset 0 0 5px #000;
}
#inventoryTable_wrapper .dataTables_info {
	margin-left: 10px;
	padding: 0;
	color: #aaa;
}
#inventoryTable_wrapper .ui-state-default { 
	padding: 0;
	background: #222;
	border: none;
	border-right: 1px solid white;
}
#inventoryTable_wrapper .ui-state-default:last-of-type { 
	border: none;
}
#inventoryTable_wrapper .ui-corner-tr {
	border-radius: 0;
	background: #222;
	border: none;
	border-bottom: 1px solid white;
}
#inventoryTable_wrapper .ui-corner-br {
	border-radius: 0;
	background: #222;
	border: none;
	border-top: 1px solid white;
}
/* Elements */
#elementFinder {
	padding-left: 15px;
	overflow: auto;
}
#elementFinder ul {
	list-style: none;
}
.element {
	float: left;

	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 20px;

	background: grey;
	color: black;
	box-shadow: inset 0 0 15px #000;
	overflow: hidden;

}
/* Gems */
#gemFinder {
	text-align: left;
	padding-left: 30px;
}
#gemFinder ul {
	list-style: none;
}
button {
	border-radius: 5px;

	background: #aaa;
	color: black;
}
