.genericButton {
box-shadow:0 1px 2px #000, 0 -1px 1px #000, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
background-color:#444;
float:left;
margin-left:1px;
}

.genericButtonSelected {
box-shadow:0 1px 2px #000, 0 -1px 1px #000, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
background-color:#737373;
float:left;
margin-left:1px;
}

.genericButtonLast {
margin-right:0;
}

.mainButton {
	font-size:14px;
	font-family:overpassregular, Arial, sans-serif;
	font-weight:400;
	font-style:normal;
	text-align:center;
	letter-spacing:1px;
	/* outline:solid 1px #8a8a8a; */
	border:solid 1px #000;
	color:#FFF;
	box-shadow:0 1px 2px #000, 0 -1px 1px #000, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	background-color:#444;
	height:100px;
	width:150px;
	margin-left:5px;
	margin-right:5px;
}

.bottomBarButton {
margin-top:5px;
height:30px;
width:100px;
text-align:center;
}

.bottomBarButtonText {
margin-left:auto;
margin-right:auto;
margin-top:5px;
}

.categoryButton {
	height:80px;
	width:calc(25% - 1px);
	text-align:center;
	float:left;
	cursor: pointer;
}

.categoryButtonIcon {
margin-left:auto;
margin-right:auto;
margin-top:15px;
width:30px;
height:30px;
}
.categoryButtonIcon img {
    height:100px;
    width:100px;
}

.categoryButtonText {
margin-left:auto;
margin-right:auto;
margin-top:5px;
font-size:11px;
}

.genericButton:hover,.mainButton:hover {
background-color:#737373;
}

.genericButton:active,.mainButton:active {
background-color:#444;
}
