.craft10, .craft100, .craftMax {
	float: right;
	min-width: 4em;
	padding-top: 1.5em;
	cursor: pointer;
}

.craftingIcon {
	vertical-align:middle;
	width:30px;
	height:30px;
	cursor:pointer;
	margin:10px;
}

.craftEnabled .craftingText {
	cursor:pointer;
}

/* Outer Container */
#playerCraftingContent .ui-accordion {
    width: 250px;
	border-bottom: 4px solid #656659;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Headers
#playerCraftingContent .ui-accordion-header p {
    display: block;
    background-color: #FF9927;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*

/* Content of Panels */
#playerCraftingContent .ui-accordion-content {
	margin: 0px;
	padding: 0px;
}


#playerCraftingContent .ui-state-default {
	background: #000;
	font-size: 16px;
	padding: 5px 0px 5px 10px;
	text-align: left;
	margin-bottom: 2px;
}


#playerCraftingContent .ui-icon {
	display: none;
}