.playerGearPaperdoll {
	position:relative;
	height:300px;
	top: 30px
	/* width:200px; */
	/* top:30px; */
	/* left:8px; */
}

.gearSlot.miningGear {
	position:absolute;
	left:10px;
	top:10px;
}

.gearSlot {
	width:50px;
	height:50px;
	background:grey;
	box-shadow:inset 0 0 15px #000;
}

.gearSlot.head {
	display: block;
	margin: 10px auto 0px auto;
	/* left:75px; */
	/* position:absolute; */
}

.gearSlot.chest {
	margin: 15px auto 0px auto;
	/* position:absolute;
	left:75px;
	top:80px; */
}

.gearSlot.mainHand {
	position: absolute;
	top: 77px;
	left: 40px;
}

.gearSlot.secondHand {
	top: 77px;
	position: absolute;
	right: 40px;
}

.gearSlot.legs {
	display: block;
	margin: 15px auto 0px auto;
	/* position: absolute;
	left: 75px;
	top: 170px; */
}

.gearSlot.feet {
	display: block;
	margin: 15px auto 0px auto;
	/* position:absolute;
	left:75px;
	top:225px; */
}