.playerGearPaperdoll {
    display: block;
    position: absolute;
    margin-top: 10px;
}
.gearSlot {
    height: 40px;
    width: 40px;
    position: absolute;
}
.gearSlot.head {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 25px;
    top: 10px;
}

.gearSlot.chest {
    position: absolute;
    width: auto;
    height: auto;
    /* left: 50px; */
    top: 40px;
}

.gearSlot.mainHand {
    position: absolute;
    left: 70px;
    top: 60px;
}

.gearSlot.secondHand {
    display: none;
}

.gearSlot.legs {
    position: absolute;
    left: 20px;
    top: 92px;
}

.gearSlot.feet {
    position: absolute;
    left: 20px;
    top: 130px;
}

.gearSlot.miningGear {
    position: absolute;
    left: 80px;
    top: 10px;
}
.gearSlot.head img {
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
}
.gearSlot.chest img {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-top: 2px;
    margin-right: auto;
}
.gearSlot.mainHand img {
    height: 150%;
    width: 150%;
    margin-left: auto;
    margin-right: auto;
}
.gearSlot.secondHand img {
    display: none;
}
.gearSlot.legs img {
    height: 46px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.gearSlot.feet img {
    height: 35px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.gearSlot.miningGear img {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.gearSlot.head div {
    display: none;
}
.gearSlot.chest div {
    display: none;
}
.gearSlot.mainHand div {
    display: none;
}
.gearSlot.secondHand div {
    display: none;
}
.gearSlot.legs div {
    display: none;
}
.gearSlot.feet div {
    display: none;
}
.gearSlot.miningGear div {
    display: none;
}
