.inventoryPanel {
	margin: 1px 15px;
}

.inventoryFilter {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 20px;
	width: 290px;
}

.inventoryContent {
    clear: left;
    height: 435px;
    overflow: scroll;
    position: relative;
    width: 329px;
}

.inventoryContentPlayer {
    clear: left;
    height: 435px;
    overflow: scroll;
    position: relative;
    width: 293px;
	overflow-x: hidden;
	overflow-y: auto;
}
