.inventoryPanel {
	margin: 1px 15px;
}

.inventoryFilter {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 20px;
}

.inventoryContent {
    clear: left;
    height: 300px;
    overflow: scroll;
    position: relative;
    width: 272px;
}

.inventoryContentPlayer {
    clear: left;
    height: 300px;
    overflow: scroll;
    position: relative;
    width: 272px;
}
