.inventoryPanel {
	margin: 1px 15px;
}

.inventoryFilter {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 20px;
}

.inventoryContent {
	position: relative;
	clear: left;
	left: 8px;
	width: calc(100%-16px);
	height: 250px;
}

.inventoryContentPlayer {
	clear: left;
	height: 100%;
	width: 89%;
	position: relative;
	overflow: auto;
}
