.itemGrid {
	overflow: hidden;
}

.itemSlot {
	width: 50px;
	height: 50px;
	float: left;
	margin: 1px;
	border: 1px dotted #474747;
	background-color: #474747;
	cursor: pointer;
}

.itemSlotIcon {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 6px;
	pointer-events: none;
}
.itemSlotText {
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin-right: 0px;
    margin-top: -9px;
    position: relative;
}
.itemSlotHover {
	border:1px solid #a7a7a7;
}

.itemSlotNonHover {
	border: 1px dotted #474747;
}
.itemSlot img {
    display: block;
    height: 40px;
    margin: 0;
    width: 40px;
}