.itemGrid {
	overflow: hidden;
}

.itemSlot {
	width: 50px;
	height: 50px;
	float: left;
	margin: 1px;
	border: 1px dotted #474747;
	background-color: #474747;
	cursor: pointer;
}

.itemSlotIcon {

	margin-top: 5px;
	pointer-events: none;
}
.itemSlotText {
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin-right: 0px;
    margin-top: -9px;
    position: relative;
}
.itemSlot img {
    display: block;
    height: 40px;
    margin: 0;
    width: 40px;
}