/* -------------------------------------- */
/* Custom CSS for the reset button */
/* -------------------------------------- */

.custombox-modal.resetGame {
  border-style: solid;
  border-width: 27px 27px 27px 30px;
  border-image: url(assets/images/resetBorder.png) 27 27 27 35 stretch;
  padding: 10px;
}

/* -------------------------------------- */
/* Custom CSS for the scavenge window     */
/* -------------------------------------- */

.custombox-modal.scavModal {
  border-style: solid;
  border-width: 27px 27px 27px 30px;
  border-image: url(assets/images/resetBorder.png) 27 27 27 35 stretch;
  background: black;
  padding: 10px;
  height: 320px;
  width: 320px;
  font-family: Lucida Console;
  font-weight: normal;
  font-size: 12px;
}  
