/* -------------------------------------- */
/* Custom CSS for the scavenge window     */
/* -------------------------------------- */

.custombox-modal.scavModal {
  border-style: solid;
  border-width: 27px 27px 27px 30px;
  border-image: url(assets/images/resetBorder.png) 27 27 27 35 stretch;
  background: black;
  padding: 10px;
  height: auto;
  width: 320px;
  font-family: Lucida Console;
  font-weight: normal;
  font-size: 12px;
}  

/* -------------------------- */
/* Reset Dialog Styling Begin */
/* -------------------------- */
#resetModal {
	font-family: Lucida Console;
	font-size:14px;
	text-align: center;
}

#resetDialog {
	display:none;
}

/* Container */
#resetDialog {
	height:200px; 
	width:400px; 
	color:#bbb; 
	background-color:#333; 
	border:4px solid #444; 
	padding:12px;
}

#resetDialog {
	padding:8px;
}

#resetDialog a {
	color:#ddd;
}

#resetDialog a.modalCloseImg {
	background:url(assets/images/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-16px; 
	cursor:pointer;
}

#resetDialog h3 {
	color:#84b8d9;
}

/* Reset Dialog Styling End */

.resetButtons {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------------- */
/* Scavenge Quest Styling Begin */
/* -------------------------- */
#scavengeQuest {
	font-family: Lucida Console;
	font-size:14px;
	text-align: center;
}

#scavengeQuest {
	display:none;
}

/* Container */
#scavengeQuest {
	height: 300px; 
	width: 400px; 
	color:#bbb; 
	background-color:#333; 
	border:4px solid #444; 
	padding:2px;
}

#scavengeQuest a {
	color:#ddd;
}

#scavengeQuest a.modalCloseImg {
	background:url(assets/images/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-16px; 
	cursor:pointer;
}

#scavengeQuest h3 {
	color:#84b8d9;
}

/* Scavenge Quest Dialog Styling End */

.resetButtons {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.resetYes {
	padding-right: 20px;
}

.resetNo {
}

#resultsText,#resultsText2 {
	border: 1px dotted black;
	width: 100%;
	height: 25%;
	background-color: #444;
	color: white;
	font-family: overpassregular,Arial,sans-serif;
	font-size: 12px;
	padding: 2px;
}

#actionText {
	border: 1px dotted black;
	width: 100%;
	height: 25%;
	background-color: #444;
	color: white;
	font-family: overpassregular,Arial,sans-serif;
	font-size: 12px;
	padding: 2px;
}