.selectPrevious {
opacity:0.5;
float:left;
margin-left:20px;
margin-top:3px;
}

.selectionText {
text-align:center;
font-size:12px;
}

.selectNext {
opacity:0.5;
float:right;
margin-right:20px;
margin-top:3px;
}

.selectPrevious:hover,.selectNext:hover {
opacity:1;
}
