.tooltipster-punk {
	z-index: 3000;
	/*border-bottom: 3px solid #f71169;*/
	background-color: #2f2f2f;
	color: #fff;
	position: absolute;
}
.tooltipster-punk .tooltipster-content {
	font-family: 'Courier', monospace;
	font-size: 14px;
	z-index: 3000;
	line-height: 16px;
	padding: 8px 10px;
}