.inventoryPanel {
margin:1px 10px;
}

.inventoryFilter {
margin-bottom:20px;
margin-top:20px;
height:20px;
}

.inventoryContent {
position:relative;
clear:left;
left:8px;
width:calc(100%-16px);
height:200px;
}
